# Turn this .gitignore into a whitelist instead of a blacklist
*
!*/
!/quack/

# Source code
!*.cpp
!*.cc
!*.c
!*.h
!*.hpp

# Media
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.ico
!*.rc

# Plain text files
!.gitignore
!LICENSE.txt
!LICENSE.md
!meta.md
!credits.md
!CREDITS.txt

# Visual studio files
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user

# Other
!*.lib